{% extends "./layouts/default.html" %}


{% block content %}

<section class='section'>
    <div class="container">
        <div class="col-sm-12">
            <div class="content-container">
                <div class="content">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section'>
    <div class="container">
        <div class="col-sm-6">
            <div class="content-container">
                <div class="content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="content-container">
                <div class="content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium fringilla magna et egestas. Duis sit amet viverra diam. Fusce lobortis interdum malesuada. Nunc egestas, ipsum ullamcorper rutrum lobortis, turpis eros malesuada massa, sit amet condimentum purus ipsum sed nisl. Maecenas commodo diam ac augue dictum, a egestas elit vehicula.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

