<header class="header">
	<div class='header__container'>
		<a href="#" class='header-logo'>
			<h1>Logo</h1>
		</a>
		<div class="nav-toggle"><span></span></div>
		<nav class="header-nav-container">
			<div class="mobile-nav-head">
				<h2>logo</h2>
				<div class="nav-close-toggle"></div>
			</div>
			<div class="header-main-nav-container">
				<ul class='header-main-nav'>
					<li class="header-main-nav__item">
						<a class="subnav-toggle">Company</a>
						<ul class='header-subnav'>
							<li class="header-subnav__item"><a href='#'>sub item 1</a></li>
							<li class="header-subnav__item">
								<a class="subnav-toggle">sub item 2</a>
								<ul class='header-subnav2'>
									<li class="header-subnav2__item "><a href='#'>sub2 item 1</a></li>
									<li class="header-subnav2__item"><a href='#'>sub2 item 2</a></li>
									<li class="header-subnav2__item"><a href='#'>sub2 item 3</a></li>
								</ul>
							</li>
							<li class="header-subnav__item">
								<a class="subnav-toggle">sub item 3</a>
								<ul class='header-subnav2'>
									<li class="header-subnav2__item "><a href='#'>sub2 item 1</a></li>
									<li class="header-subnav2__item"><a href='#'>sub2 item 2</a></li>
									<li class="header-subnav2__item"><a href='#'>sub2 item 3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="header-main-nav__item">
						<a class="subnav-toggle" href="#">About Us</a>
						<ul class='header-subnav'>
							<li class="header-subnav__item">
								<a href='#'>sub item 1</a>
							</li>
							<li class="header-subnav__item">
								<a href="#">sub item 2</a>
							</li>
							<li class="header-subnav__item">
								<a class="subnav-toggle">sub item 3</a>
								<ul class='header-subnav2'>
									<li class="header-subnav2__item "><a href='#'>sub2 item 1</a></li>
									<li class="header-subnav2__item"><a href='#'>sub2 item 2</a></li>
									<li class="header-subnav2__item"><a href='#'>sub2 item 3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="header-main-nav__item"><a href="#">Contact</a></li>
					<li class="header-main-nav__item"><a href="#">Portfolio</a></li>
					<li class="header-main-nav__item"><a href="#">catalog</a></li>
				</ul>
			</div>
			<div class="header-secondary-nav-container">
				<ul class="header-secondary-nav">
					<li class="header-secondary-nav__item"><a href="">Contact us</a></li>
					<li class="header-secondary-nav__item"><a href="">Search</a></li>
					<li class="header-secondary-nav__item"><a href="">Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header> 